<h2 class="mb-4">Educational Videos</h2>
<a href="/admin/educationalVideos/new" class=" btn ">
  New Educational Videos </a>
<% educationalVideos.forEach(educationalVideo=>{ %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="" src="<%=educationalVideo.thumbnail%>" alt="Card image cap">
            <!-- <img class="" src="https://img.youtube.com/vi/%3Cinsert-youtube-video-id-here%3E/mqdefault.jpg"
                      alt="Card image cap"> -->
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <a href="<%=educationalVideo.videoUrl%>">
                  <h4 class="card-title">
                    <%=educationalVideo.title%>
                  </h4>
                </a>

                <div class="card-subtitle text-muted mb-2">
                  <%=educationalVideo.createdAt.toLocaleDateString()%>
                </div>
                <p class="card-text">
                  <%=educationalVideo.description%>
                </p>

              </div>
              <div class="col-sm-4">
                <a href="/admin/educationalVideos/edit/<%= educationalVideo.id %>" class="btn btn-info mb-2">
                  Edit</a>
                <form action="/admin/educationalVideos/<%= educationalVideo.id%>?_method=DELETE " method="POST"
                  class="d-inline">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% }) %>