
  <div>
    <h1 class="mb-4">Videos</h1>
    <% educationalVideos.forEach(educationalVideo=>{ %>

      <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
              <div class="img-square-wrapper">
                <img class="" src="<%=educationalVideo.thumbnail%>" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <a href="<%=educationalVideo.videoUrl%>">
                      <h4 class="card-title">
                        <%=educationalVideo.title%>
                      </h4>
                    </a>

                    <div class="card-subtitle text-muted mb-2">
                      <%=educationalVideo.createdAt.toLocaleDateString()%>
                    </div>
                    <p class="card-text">
                      <%=educationalVideo.description%>
                    </p>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
<% }) %>