<!-- slider -->
<%- include('partials/_slider') %>
<div class="mainContiner">
  <div class="col">
    <div class="mission">
      <h2>Our Mission </h2>
      <hr />
      <p class="mission_text"><%=details.ourMission%></p>
    </div>

    <div>
      <%- include('partials/_work') %>
    </div>
  </div>
  <div>
    <div>
      <%- include('partials/_sider')%>
    </div>
    <div>
      <%- include('partials/_get_updated')%>
    </div>
  </div>

</div>