<div>

  <h1 class="mb-4">Interviews</h1>
  <% liveInterviews.forEach(liveInterview=>{ %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
              <div class="img-square-wrapper">
                <img class="" src="<%=liveInterview.thumbnailPath%>" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <a href="<%=liveInterview.videoUrl%>">
                      <h4 class="card-title">
                        <%=liveInterview.title%>
                      </h4>
                    </a>

                    <div class="card-subtitle text-muted mb-2">
                      <%=liveInterview.createdAt.toLocaleDateString()%>
                    </div>
                    <p class="card-text">
                      <%=liveInterview.description%>
                    </p>

                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
</div>